<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.won.plantswater">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="물주기 알리미"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme"
        >

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.won.plantswater.provider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_path"/>
        </provider>

        <activity android:name=".MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity android:name=".PlantsInsert"
            android:windowSoftInputMode="adjustNothing">
        </activity>
        <receiver android:name=".myAlarmReceiver"
            android:enabled="true"
            android:exported="false">
        </receiver>

        <service
            android:name=".MyAlarmService"
            android:enabled="true"
            android:exported="false"></service>
    </application>
    <uses-feature android:name="android.hardware.camera" />
</manifest>